$color: wheat;
$text-align: center;
$background-color: rgb(54, 124, 52);

@media (min-width: 1200px) {
  body {
    background-color: $background-color;
    color: $color;
    text-align: $text-align;
  }

  h1 {
    font-size: 8em;
  }

  p {
    font-size: 1em;
  }

  nav {
    div {
      a {
        text-decoration: none;
        color: $color;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    background-color: $background-color;
    color: $color;
    text-align: $text-align;
  }

  h1 {
    font-size: 2em;
  }
  nav {
    div {
      a {
        text-decoration: none;
        color: $color;
        padding-left: 3px;
        padding-right: 3px;
      }
    }
  }
}

footer {
    font-style: italic;
    font-size: 0.9em;
}
