$color: wheat;
$text-align: center;
$background-color: rgb(54, 124, 52);

  body {
    background-color: $background-color;
    color: $color;
    text-align: $text-align;
  }

@media (min-width: 1200px) {

  h1 {
    font-size: 8em;
  }

  p {
    font-size: 1em;
  }

  nav {
    div {
      a {
        text-decoration: none;
        color: $color;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

@media (max-width: 600px) {


  h1 {
    font-size: 2em;
  }
  nav {
    div {
      a {
        text-decoration: none;
        color: $color;
        padding-left: 3px;
        padding-right: 3px;
      }
    }
  }
}

form {
  text-align: $text-align;
  padding: 80px;
  border: 2px black;
}

.search {
  width: 500px;
  height: 50px;
  border-radius: 25px;
}

.submit {
  width: 150px;
  height: 50px;
  border-radius: 25px;
}
